<hr />
<div>
    <h3>Users:</h3>
    <ul class="user-list"></ul>
</div>
<div>
    <h4>Add User:</h4>
    <form class="add-user">
        <input class="name" type="textarea" name="name" default="Full Name" required>
        <select class="gender" name="gender" required>
            <option value="male">male</option>
            <option value="female">female</option>
            <option value="other">other</option>
        </select>
        <input type="submit" name="submit-user">
    </form>
</div>
